<?xml version="1.0"?>
<!DOCTYPE Configure PUBLIC "-//Mort Bay Consulting//DTD Configure//EN" "http://jetty.mortbay.org/configure.dtd">

<Configure class="org.mortbay.jetty.Server">
  <Get name="handler">
    <Set name="baseResource">
      <New class="org.mortbay.resource.ResourceCollection">
        <Arg>
          <Array type="java.lang.String">
            <Item>src/main/webapp</Item>
            <Item>../rivr/rivr-voicexml/dialogue-runner/src/main/webapp</Item>
          </Array>
        </Arg>
      </New>
    </Set>
  </Get>
</Configure>