<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <display-name>Dialogue Engine</display-name>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>Dialogue</servlet-name>
    <servlet-class>com.nuecho.rivr.voicexml.servlet.VoiceXmlDialogueServlet</servlet-class>

    <init-param>
      <param-name>com.nuecho.rivr.voicexml.dialogueFactory.class</param-name>
      <param-value>com.nuecho.rivr.cookbook.dialogue.DialogueFactory</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>Dialogue</servlet-name>
    <url-pattern>/dialogue/*</url-pattern>
  </servlet-mapping>

</web-app>